
.fa-circle,.fa-minus
{
    color: #0b76f1fa;
    margin-left: 5px;
}

.fa-map-marker
{
    color: rgb(250, 69, 69);
}

.rounded-circle
{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 2px 5px 2px 5px;
    background: #308af1fa;
    border: 2px solid #0b76f1fa;
    color: #ffffff;
    text-align: center;
    font:  Arial, sans-serif;
}

@media only screen and (min-width:1000px)
{
    .large
    {
        display: block;
    }
    .small
    {
        display: none;
    }
}

@media only screen and (max-width: 1000px)
{
    .title-block h1
    {
        font-size: 2em;
    }
  .large
  {
    display: none;
  }
  .small
  {
      display: block;
  }

}