
.container
{
    height: 100%;
    width:80%;
    border :1px solid orange;
    border-radius: 15px;
}

.margin-auto
{
    width:100%;
    margin: auto;
}

.ul-small
{
    list-style: none;
}

.ul-small li
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.map1
{
    margin-left:195px; 
}

.map2
{
    margin-left: 240px;
}

.map
{
    margin-top: 30px;
}

.map3
{
    margin-left: 150px;
}

.map-font
{
margin-left: 10px;
}

.fa-circle,.fa-minus
{
    color: #0b76f1fa;
    margin-left: 5px;
}

.fa-map-marker
{
    color: rgb(250, 69, 69);
}


.vertical-align
{
    vertical-align: middle;
}
.center
{
text-align: center;
}

.header
{
margin:50px;
}

.title-block{
width: 100%;
border-bottom:2px solid orange;
text-align: center;
margin: 0 auto;
position: relative;
}


.card-text ul li p
{
    text-align: justify;
}

.title-block h1{
color: orange;
font-family: Georgia, "Times New Roman", Times, serif;
}

.title-block:after{
content: ' ';
width: 0;
height: 0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 20px solid orange;
position: absolute;
margin-left : -20px;
left: 50%;
}

.card-first
{
margin:auto;
}
.fa-cog {
color:white;
}
a span
{
color:white;
font-size: 20px;
}

.card
{
    margin-bottom: 50px;
}

.card-header span
{
    color:blue;
}


@media only screen and (min-width:780px)
{
    .large
    {
        display: block;
    }
    .small
    {
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    .title-block h1
    {
     
        font-size: 2em;
  }
  .large
  {
    display: none;
  }
  .small
  {
      display: block;
  }

}